.about {
}
.inner {
}
.about-title {
}
.about-wrapper {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 50px auto 0;
  padding: 0 20px;
  @include sp {
    display: block;
    max-width: 300px;
  }
}
.about-img-wrapper {
  max-width: 208px;
  @include sp {
    max-width: 208px;
    margin: 0 auto;
  }
}
.about-img {
  border-radius: 30px;
}
.about-text {
  flex: 1;
  margin-left: 100px;
  text-align: center;
  @include sp {
    margin-left: 0;
  }
  .introduction-text {
    padding-top: 30px;
    .introduction-title {
      font-size: 3rem;
      font-family: "Cinzel", "PT Serif", serif, "Dancing Script";
    }
    .introduction-desc {
      margin-top: 30px;
      font-size: 1.6rem;
      line-height: 2;
    }
  }
  .education-text {
    padding-top: 30px;
    .education-title {
      font-size: 3rem;
      font-family: "Cinzel", "PT Serif", serif, "Dancing Script";
    }
    .education-desc {
      margin-top: 30px;
      font-size: 1.6rem;
    }
  }
}

.about-catchcopy {
  font-size: 6rem;
  text-align: center;
  margin-top: 50px;
  padding: 0 20px;
  font-family: "Ephesis", "cursive", serif;
  overflow: hidden;
  @include sp {
    font-size: 2.5rem;
  }
  & span {
    display: inline-block;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }

  &.-visible span {
    transform: translateY(0px);
  }

  & span:nth-child(2) {
    transition-delay: 0.06s;
  }
  & span:nth-child(3) {
    transition-delay: 0.12s;
  }
  & span:nth-child(4) {
    transition-delay: 0.18s;
  }
  & span:nth-child(5) {
    transition-delay: 0.24s;
  }
  & span:nth-child(6) {
    transition-delay: 0.3s;
  }
  & span:nth-child(7) {
    transition-delay: 0.36s;
  }
  & span:nth-child(8) {
    transition-delay: 0.42s;
  }
  & span:nth-child(9) {
    transition-delay: 0.48s;
  }
  & span:nth-child(10) {
    transition-delay: 0.54s;
  }
  & span:nth-child(11) {
    transition-delay: 0.6s;
  }
  & span:nth-child(12) {
    transition-delay: 0.66s;
  }
  & span:nth-child(13) {
    transition-delay: 0.72s;
  }
  & span:nth-child(14) {
    transition-delay: 0.78s;
  }
  & span:nth-child(15) {
    transition-delay: 0.84s;
  }
  & span:nth-child(16) {
    transition-delay: 0.9s;
  }
  & span:nth-child(17) {
    transition-delay: 0.96s;
  }
}
