.form_table {
  margin: 50px auto 0;
  max-width: 1000px;
  padding: 0 20px;
  font-size: 1.6rem;
}
dl {
  margin-bottom: 30px;
}
dt {
  margin-bottom: 10px;
}
dd {
  margin-bottom: 0;
}
input {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 1.6rem;
  &::placeholder {
    opacity: 0.7;
  }
}
textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  &::placeholder {
    opacity: 0.7;
  }
}
.submit {
  text-align: center;
  .submit-btn {
    width: 150px;
    border-radius: 3px;
    background-color: cl(white);
    color: cl(black);
    border: 1px solid cl(black);
    &:hover {
      background-color: #f6f6f4;
    }
  }
}
