.wpcf7 {
  max-width: 100% !important;
}
.form_table {
  margin: 50px auto 0;
  max-width: 1000px;
  padding: 0 20px;
  font-size: 1.6rem;
}
dl {
  margin-bottom: 30px;
}
dt {
  margin-bottom: 10px;
}
dd {
  margin-bottom: 0;
}
.wpcf7-form-control {
  margin: 0 !important;
  width: 100% !important;
  box-sizing: border-box !important;
  padding: 5px !important;
  font-size: 1.6rem !important;
  border: 1px solid cl(black) !important;
  &::placeholder {
    opacity: 0.7 !important;
  }
}
.submit {
  text-align: center !important;
  margin-bottom: 90px !important;
  .wpcf7-submit {
    width: 150px !important;
    border-radius: 3px !important;
    background-color: cl(white) !important;
    color: cl(black) !important;
    border: 1px solid cl(black) !important;
    &:hover {
      background-color: #f6f6f4 !important;
    }
  }
}
.ajax-loader {
  display: none !important;
}

// エラーメッセージoff
.wpcf7-response-output {
  display: none !important;
}
