.top {
  background-image: url(../image/water-1018808_1280.jpg);
  background-position: center;
  background-size: cover;
  padding: 220px 0;
  font-family: "Cinzel", "PT Serif", serif;
}
.top-title {
  font-size: 6vw;
  text-align: center;
  @include sp {
    font-size: 8vw;
  }
}
.main-title {
  font-size: 6vw;
}
.sub-title {
}
