.works {
  margin-top: 400px;
  @include sp {
    margin-top: 1320px;
  }
}
.works-title {
}
.works-list {
  margin: 50px auto 0;
  max-width: 1100px;
  padding: 0 20px;
  @include sp {
    max-width: 300px;
  }
  .item {
    display: flex;
    margin-top: 30px;
    @include sp {
      display: block;
      margin-top: 40px;
    }
    &:first-of-type {
      margin-top: 0;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      .text {
        margin-right: 10px;
        @include sp {
          margin-right: 0;
        }
      }
    }
    &:nth-child(odd) {
      .text {
        margin-left: 10px;
        @include sp {
          margin-left: 0;
        }
      }
    }
  }
  .img-wrapper {
    width: 50%;
    perspective: 2000px;
    background-color: cl(black);
    margin: 0 auto;
    @include sp {
      width: 100%;
    }
  }
  .img {
    transform-origin: right center;
    transform: rotateY(0deg);
    transition: transform 0.8s ease;
    &:hover {
      transform-origin: right center;
      transform: rotateY(-18deg);
      opacity: 0.8;
      cursor: pointer;
    }
  }
  .text {
    flex: 1;
    text-align: center;
    padding-top: 30px;
    @include sp {
      padding-top: 10px;
    }
  }
  .title {
    font-size: 3rem;
    font-weight: bold;
    color: cl(black);
    position: relative;
    @include sp {
      font-size: 3rem;
    }
    &::after {
      content: attr(data-txt);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: cl(white);
      clip-path: polygon(0 0, 200% 0, 0 200%);
      transition: clip-path 0.65s cubic-bezier(0.24, 0.13, 0.26, 1.01);
      -webkit-transition: clip-path 0.65s cubic-bezier(0.24, 0.13, 0.26, 1.01);
    }
    &.change::after {
      clip-path: polygon(0 200%, 200% 0%, 200% 200%);
    }
  }
  .desc {
    font-size: 1.6rem;
    margin-top: 30px;
    @include sp {
      font-size: 1.6rem;
      margin-top: 20px;
    }
    .sp {
      display: none;
      @include sp {
        display: block;
      }
    }
  }
}
